.tbl_sorts td {text-align:left;width:400px !important;padding:10px 25px;vertical-align:top;}
.tbl_sorts th {text-align:left;width:400px !important;padding:10px 25px;font-size:14px;font-weight:normal;padding:8px 30px;}
.tbl_sorts th div {text-align:left;font-size:10px;font-weight:normal;padding:0px;}
.sortable { list-style-type: none; margin: 0; padding: 0; width: 300px; }
.sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 14px; height: 22px; }
.sortable li { height: 22px; line-height: 1.2em; }
.sortable li span.ord { width:25px;display:block;float:left;color:#ccc; }
.sortable li span.txt { display: block; float: left; height: 18px; overflow: hidden; width: 150px; }
#list_schools.sortable li span.txt {width: 170px;}
.sortable li img { float:right;padding:3px 0px;cursor:pointer; }
.ui-state-highlight { height: 22px; line-height: 1.2em; }

.ui-autocomplete{position:absolute;cursor:default;z-index:4000 !important}

.anchor-icon {color: #333333; cursor: pointer; font-size: 14px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); float:right; margin:0px 5px; }
.anchor-icon {color: #aaa !important;font-size: 20px;font-weight: bold;}
.anchor-icon label {color: #6E9A70; width: 25px;display:inline-block;text-align:right;}

[class^="icon-"], [class*=" icon-"] { background-image: url("/media/cupcake/img/icons/16x16/auction_hammer__pencil.png"); background-repeat: no-repeat; display: inline-block; height: 16px; line-height: 16px; margin-top: 1px; vertical-align: text-top; width: 16px; }
							
.icon-play {left:-5px;position:relative;top:3px;}

span#new_school_icon {background: url('/media/cupcake/img/icons/softwaredemo/Pencil3.png') no-repeat scroll center center transparent;display: block;float: right;height: 22px;margin: 3px 13px 3px 3px;width: 22px;cursor:default;}
span#new_school_icon.with-result {background-image: url('/media/cupcake/img/icons/error/accept.png');cursor:default;}
span#new_school_icon.without-result {background-image: url('/media/cupcake/img/icons/error/cross3.png');cursor:pointer;}

span#new_requirement_icon {background: url('/media/cupcake/img/icons/softwaredemo/Pencil3.png') no-repeat scroll center center transparent;display: block;float: right;height: 22px;margin: 3px 13px 3px 3px;width: 22px;cursor:default;}
span#new_requirement_icon.with-result {background-image: url('/media/cupcake/img/icons/error/accept.png');cursor:default;}
span#new_requirement_icon.without-result {background-image: url('/media/cupcake/img/icons/error/cross3.png');cursor:pointer;}

span#new_zone_icon {background: url('/media/cupcake/img/icons/softwaredemo/Pencil3.png') no-repeat scroll center center transparent;display: block;float: right;height: 22px;margin: 3px 13px 3px 3px;width: 22px;cursor:default;}
span#new_zone_icon.with-result {background-image: url('/media/cupcake/img/icons/error/accept.png');cursor:default;}
span#new_zone_icon.without-result {background-image: url('/media/cupcake/img/icons/error/cross3.png');cursor:pointer;}

ul#list_zones li input {height:12px;margin-top:-5px;border:1px solid transparent;background-color:transparent;}
ul#list_zones li select {height:30px;margin-top:-5px;border:1px solid transparent;background-color:transparent;}
ul#list_zones li input:focus {border:1px inset;background-color:transparent;background-color:#fff;}
ul#list_zones li select:focus {border:1px inset;background-color:transparent;background-color:#fff;}

ul#list_zones li input[name='name'] {width:100px;}
ul#list_zones li input[name='description'] {width:200px;}
ul#list_zones li input[name='initial'] {width:18px;}
ul#list_zones li input[name='ending'] {width:18px;}
ul#list_zones li select[name='vector'] {width:80px;}


.anchor-tiebreak {color: #6e9a70; cursor: pointer; font-size: 14px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); float:right; margin:0px 5px 0px 0px; color: #aaa !important;font-size: 20px;font-weight: bold; }
.anchor-tiebreak label {color: #9a6e6e; width: 15px;display:inline-block;text-align:right;}
.icon-tiebreak {
    background-image: url("/media/cupcake/img/icons/16x16/order.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;
    left: -5px;
    position: relative;
    top: 3px;
    
}


