.innertbl {height:100%;float:left;}
.innertbl .ceven {background-color:#ededed;}
.innertbl tr.requirements {height:35px;}
.innertbl tr.requirements th div {width:170px;}
.innertbl tr.judges {height:160px;}
.innertbl tr.judges td { -moz-transform:rotate(270deg);  -moz-transform-origin: bottom left; -webkit-transform: rotate(270deg); -webkit-transform-origin: bottom left; -o-transform: rotate(270deg); -o-transform-origin:  bottom left; filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
.innertbl tr.judges td { padding:8px 17px;font-size:12px; }
.innertbl tr.judges td span { display: block; left: -32px; position: fixed; text-align: right; top: 108px; vertical-align: top; width: 180px;}
.fixedschools {margin-top:159px;}
.fixedschools li {border-top: 1px solid #DDDDDD;height: 33px;margin: 0;padding: 0;}
.fixedschools li span {display: block;margin: 0;padding: 9px;}

.innertbl td.grade {padding:0px;height: 33px;}
.note {border:1px solid transparent;background-color:transparent;}
.note:focus{background-color:yellow;border:1px inset;}
.note {height: 13px;margin: 2px;text-align: center;width: 26px;}
.innertbl td.grade .note {display: block;font-size: 11px;margin: auto;text-align: center;width: 16px;}

ul.zones {height:140px;margin:10px;}
ul.zones li{padding:2px;}
ul.zones li span{margin-right:5px;}

ul.classif {margin:10px;}
ul.classif li {border-top: 1px solid #DDDDDD;height: 33px;margin: 0;padding: 0 5px;}
ul.classif li span     {font-size:14px;margin:8px 0px 0px 0px;}
ul.classif li span.pos {width:25px;display:block;float:left;color:#888;}
ul.classif li span.pts {width:35px;display:block;float:left;margin:4px 0px 0px 0px;}
ul.classif li span.pts input:focus{background-color:yellow;border:1px inset;}
ul.classif li span.pts input {padding:5px;height: 10px;margin: 1px;text-align: center;width: 32px;background-color: transparent;border: 1px solid transparent;}
ul.classif li span.name{display: block;float: left;height: 20px;overflow: hidden;width: 140px;font-weight:bold;}

.zone1 {background-color:#afaee7;}
.zone2 {background-color:#aedae7;}
.zone3 {background-color:#aee7ca;}
.zone4 {background-color:#e7e2ae;}
.zone5 {background-color:#e5aee7;}
.zone6 {background-color:#c6e7ae;}
.zoneF {background-color:#e7aeae;}

#reclassify {display: inline-block;text-align: center;width: 320px;margin:3px 0px 10px;}
#reclassify.busy {background: url("/media/cupcake/img/loading/10.gif") no-repeat scroll right center #DDDDDD;text-align: left;display: inline-block;text-align: left;width: 320px;}

select.currentstatus {border: 1px solid #B8B8B8;border-radius: 4px 4px 4px 4px;box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2) inset;color: #666666;font-size: 1.384em;line-height: 1.384em;vertical-align: middle;height: 2.4em;padding: 0.4em;margin-right: 0.56em;width: 15.2em;}
select.currentstatus option {padding:3px 0px;}

.list-comments input {font-weight:bold;}
.list-comments input, .list-comments textarea {width:580px;border:1px solid transparent;background-color:transparent;}
.list-comments input:focus, .list-comments textarea:focus {width:580px;border:1px inset;background-color:#fff;}
.list-comments input[rel="comment_date"] {font-weight:bold}
.list-comments .button-red {cursor:pointer;}
